{% load i18n %}
<div id="header">
	<div id="logo">
		<h1><a href="/">{{ settings.BLOG_NAME }}</a></h1>
	</div>
	<div id="menu">
		<ul>
			<li {% ifequal section "home" %}class="current_page_item"{%endifequal%}><a href="/">Home</a></li>
			<li {% ifequal section "blog" %}class="current_page_item"{%endifequal%}><a href="/blog/">{% trans "Blog" %}</a></li>
			<li {% ifequal section "photo" %}class="current_page_item"{%endifequal%}><a href="/photo/gallery/page/1/" title='{% trans "My Photos" %}'>{% trans "Photos" %}</a></li>
			<li {% ifequal section "video" %}class="current_page_item"{%endifequal%}><a href="/video/"  title='{% trans "My videos" %}'>{% trans "Videos" %}</a></li>
		</ul>
	</div>
</div>
