{% spaceless %}
{% load i18n %}
{% load pytils_dt %}
{% load pytils_numeral %}
{% load bookmarks %}
{% load tagging_tags %}
{% load bfmarkup %}
{% load blog %}
{% endspaceless %}
<h1 class="post-title">
    <a id="{{ object.slug }}" href="{{ object.get_absolute_url }}">{{ object.name|typogrify|safe }} <span class="post-author">by {{ object.author }}</span></a>
</h1>
<div class="post-date"><img src="{{ object.language.small_icon }}"/>&nbsp;Posted: {{ object.date|date:"l F j, Y \a\t P" }}</div>
<div class="post-text">
    {% if not post_detail and object.shortable %}
    {{ object.html_short|safe }}&nbsp;<span class="read-more"><a href="{{ object.get_absolute_url }}">{% trans "continue&nbsp;reading" %}</a></span>
    {% else %}
      {{ object.html|safe }}
    {% endif %}
	<br/>
	<div class="post-meta">
	{% if object.tags %}
	<img src="/media/images/tag.gif"/>
	<p class="tags"><small><strong>Tags:</strong> {% tags_for_object object as tags %}{% for tag in tags %}<a href="{% url post_by_tag tag %}" >{% if not forloop.first %}|&nbsp;{% endif %}{{tag}}&nbsp;</a>{% endfor %}</small></p>
	{% endif %}
        <a href="{{ object.get_absolute_url }}#comments" class="comments"><span class="c">{{ object.approved_comments_count }}</span>
        {{ object.approved_comments_count|choose_plural:_("comment, comments, comments") }}</a>
	<a href="{{ object.get_absolute_url }}#pingbacks">{{ object.pingback_count }}
    	{{ object.pingback_count|choose_plural:_("pingback, pingbacks, pingbacks") }}</a>

    {% if post_detail %}
    {% bookmarks object %}
    {% endif %}
	</div>

</div>






