<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
{% load theme %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ settings.BLOG_NAME }}: {% block title %}main{% endblock %}</title>
  {% theme_css %}
  <link rel="alternate" type="application/atom+xml" title="{{ settings.BLOG_NAME }}: blog entries feed" href="{% url atom_feed "blog" %}" />
  <link rel="alternate" type="application/atom+xml" title="{{ settings.BLOG_NAME }}: comments feed" href="{% url atom_feed "comments" %}" />
  <link rel="openid2.provider" href="{% absolute_url openid_endpoint %}"/>
  <link rel="openid.server" href="{% absolute_url openid_endpoint %}"/>
  {% theme_js "jquery" %}
  {% theme_js "login-shortcuts" %}
  <script type="text/javascript" src="{% url processed_js %}"></script>
  {% theme_css "photo"%}
  {% block extrahead %}{% endblock %}
</head>
<body>
<div id="page">

  {% include "head.html" %}

  <div id="bodyblock">
    <div id="sidebar">{% block sidebar %}{% include "sidebar.html" %}{% endblock %}</div>
    <div id="content">
      {% site_messages %}
      {% block content %}{% endblock %}
    </div>
  </div>

  {% include "footer.html" %}

</div>

{% if debug %}{% include "debug.html" %}{% endif %}
</body>
</html>
